# Frontend (Next.js)
/frontend/node_modules
/frontend/.next
/frontend/out
/frontend/.env.local

# Backend (Python)
/backend/.venv
/backend/__pycache__
/backend/.env
/backend/database/transactions.db

# OS files
.DS_Store
*.pyc